/**
*
*/
/* Sur les écrans dont la largeur est comprise entre 37.8rem et 50rem */
@media screen and (max-width: 37.5rem) and (max-width: 50rem){
    /* CSS properties for small screens */
  
    .content {
      width: 100%;
      margin-bottom: 3.5rem;
    }

    div.Texte_defilant {
      display: none;
    }

    span.bonjour::after, span.bonjour::before{
      display: none;
    }

    .list_projets .info_projets {
      max-height: 10rem;
      width: 70%;
      position: relative;
      left: 10%;
    }

    .info_projets {
      
      overflow: scroll;
    }

    /*.image_projets img {
      display: inline-block;
      width: 100%;
      height: 100%;
    }*/
    .list_projets .image_projets {
      display: none;
    }

    /*.lunette {
      margin-top:16px !important
    }*/
  }