/**
*
*/
@media only screen and (max-width: 37.5rem) {
    /* CSS properties for small screens */
  
    .content {
      width: 100%;
      margin-bottom: 3.5rem;
    }

    div.Texte_defilant {
      display: none;
    }

    span.bonjour::after, span.bonjour::before{
      display: none;
    }
  }