@import url(responsive.css);
@import url(navigation.css);
@import url(reset.css);
@import url(footer.css);
@import url(about.css);
@import url(animation.css);


.btn{
    width: 6.25rem;
    height: 2.5rem;
    background: #0088ff;
    border: 0.125rem solid #0088ff;
    margin-top: 0.8125rem;
    color: #fff;
    font-size: 0.9375rem;
    border-bottom-right-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

/*partionnment de la page */
.content{
    width: 86%;
    max-width: 94%;
    height: 100vh;
    margin:0 auto;
    color: #fff;
}

.main_container {
    /*width: 75rem;*/
    width: 86%;
    max-width: 96%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 8rem;
    color: #fff;
    overflow: scroll;
}

.present_stage {
  display: flex; gap:1.2rem; flex-direction: row;
};

.present_stage_article {
  width: 40%; border: solid; border-radius: 2%;
}

.par {
    text-align: justify;
    padding-bottom: 1.5625rem;
    font-family: Arial;
    letter-spacing: 0.075rem;
    line-height: 1.875rem;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 3.125rem;
    margin-top: 9%;
    letter-spacing: 0.125rem;
}

.content span{
    color: #0088ff;
    font-size: 4.0625rem
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 1.875rem;
    padding-left: 0.875rem;
    padding-top: 0.3125rem;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: #0088ff;
}


.CONTACT {
    justify-content: center;
    align-items: center;
}
.bonjour {
  display: flex;
}
.bonjour::before,
.bonjour::after {
    border-top: .0625em solid;
    content: "";
    flex: 0.5;
    margin: 0.5em;
}
  /*Partie Projets*/
  .container_projets {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .list_projets {
    display:  flex;
    max-width: fit-content;
    flex-direction: row;
    gap: 2.5rem;
    margin: 0 auto;
  }
  .list_projets article {
    max-width: 50%;
    border: #ff7200 solid thick;
    border-radius: .3rem;   
  }
  .image_projets img{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
  }

  .info_projets {
    padding: .9rem;
    text-align: justify;
  }

  .btn2_projets {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #0088ff;
    color: white;
    font-size: inherit;
    font-weight: bold;
    text-align: center;
    border-radius: .3rem;
    text-decoration: none;
    line-height: 50px;
  }

  .btn2_projets:hover {
    background-color: #ff7200;
  }
  
  .content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    font-size: inherit;
    font-weight: bold;
    border-radius: .3rem;
    cursor: pointer;
    transition: .4s ease;
}

.cn:hover{
    background-color: #fff;
}

.presentation_projets {
    overflow-y: scroll;    
}
.presentation_projets::-webkit-scrollbar {
    display: none;
}
strong {
    color: #ff7200;
}

b {
    color: springgreen;
}